@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 236, 218;
  --background-start-rgb: 9, 8, 7;
  --background-end-rgb: 9, 8, 7;
  --font-orbitron: "Avenir Next Condensed", "Helvetica Neue", sans-serif;
  --font-noto: "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", sans-serif;
  --font-jetbrains: "SF Mono", "Menlo", "Monaco", monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #090807;
}

::-webkit-scrollbar-thumb {
  background: #1A150C;
  border: 1px solid #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F0BE57;
}

/* Utilities */
.clip-path-polygon {
  clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
